@font-face {
	font-family: 'Roboto-Italic';
	src: url('fonts/Roboto-Regular/Roboto-Italic/Roboto-Italic.eot');
	src: local('☺'), url('../fonts/Roboto-Italic/Roboto-Italic.woff') format('woff'), url('../fonts/Roboto-Italic/Roboto-Italic.ttf') format('truetype'), url('../fonts/Roboto-Italic/gRoboto-Italic.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto-Thin';
	src: url('../fonts/Roboto-Thin/Roboto-Thin.eot');
	src: local('☺'), url('../fonts/Roboto-Thin/Roboto-Thin.woff') format('woff'), url('../fonts/Roboto-Thin/Roboto-Thin.ttf') format('truetype'), url('../fonts/Roboto-Thin/Roboto-Thin.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto-Regular';
	src: url('../fonts/Roboto-Regular/Roboto-Regular.eot');
	src: local('☺'), url('../fonts/Roboto-Regular.woff') format('woff'), url('../fonts/Roboto-Regular/Roboto-Regular.ttf') format('truetype'), url('../fonts/Roboto-Regular/Roboto-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal
}

html{
	width: 100%;
}

body{
	width: 100%;
	height: 100%;
 	margin:0;
	padding: 0;
 	font-family: 'Roboto-thin';
 	font-size:1.1em;
 	color: rgb(47, 47, 59);
 	overflow-x: hidden;
	line-height: 1.5em;
	float: left;
}

h3{
	font-size:1.5em;
}

/*HEADER*/

.menu_haut {
	padding: 1%;
	float: right;
	display: block;
	margin-right: 3%;
}

 .menu_haut a{
 	font-size: 0.7em;
 	text-decoration: underline;
 }

 .menu_haut a li {
 	display: inline-block;
 }

header {
	display: block;
	float: left;
	width: 100%;
}

.header {
	display: flex;
	position: relative;
	float: left;
	width: 100%;
	flex-direction: row;
}
_
.header-left {
	display: block;
	float: left;
	width: 25%;
}

.header-left a img{
	padding: 5% 10%;
}

.header-right {
	display: block;
	float: left;
	width: 75%;
}

.bloc_accroche {
	display: block;
	float: left;
	width: 100%;
  color:#25AFBA;
  font-family: 'Roboto-Italic';
  margin-left: 7%;
}

a{
	list-style-type: none;
	width: 60%;
	justify-content:space-between;
	align-content:space-around;
	color:#25AFBA;
	font-weight: bold;
}
a:hover { 
   color:#E44772;
}

.home{
	margin-left: 92%;
	margin-top:-8%;
}

/*QUI SOMMES-NOUS ?*/

.presentation_asso{
	display:flex;
	flex-direction:row;
	margin-top:15%;
	margin-left: 3%;
	width:100%;
}

.texte_asso{
	width:50%;
}

.img_bureau{
  	width: 565px;
	height: 430px;
	margin-right: 2%;
	margin-top: 5%;
	margin-left: 5%;
	display: block;
}

/*EQUIPE*/
.bloc_img_equipe{
	display:flex;
	flex-direction:row;
	margin-top: 15%;
  margin-bottom: 156px;
}

.texte_equipe{
	width: 40%;
	margin-left: 3%;
	margin-right: 2%;
}

.img_equipe{
	width: 50%;
	margin:auto;
	text-align: center;
}

/*PAGE LIEUX ACCUEIL*/
.bloc_lieux{
	display: flex;
	flex-direction: row;
	margin-left: 3%;
	margin-top: 10%;
	width: 100%;
	justify-content: space-between;
}

.texte_lieux{
  width:60%;
  margin-top: 15%;
  margin-left: 0%;
}

.itineraire{
	margin-top: 5%;
	font-size: 1.2em;
	color:#25B5C2;
}

.stagreve{
	width: 57%;
}

.stmartin, .cheylard, .lamastre{
	width: 40%;
}

.ollieres{
	width: 84%;
}	

.form_itineraire{
	/*margin-left: 3%;*/
	width: 75%;
}

.carte_territoire{
	width: 50%;
	display:block;
	margin: auto;
	height: 55%;
}

.intitule_coordonnees{
	text-decoration: underline;
}

/*FORMULAIRE DE CONTACT*/
.titre_form{
	padding-top: 3%;
	text-align: center;
	font-weight: 1%;
}

.formulaire_contact{
  margin-left: 3%;
  width: 94%;
  margin-top: 15%;
  background-color: #DBDBDB;
}

.champ_form{
	margin-left:30%;
	line-height: 1.5em;
	width: 14%;
	padding:2%;
}

#message{
	width: 204%;
}
.envoyer{
	text-align: center;
	margin-right: 14%;
	padding: 2%;
}

/*ICONES PUBLICS CIBLES*/

.bloc_icones a{
	text-decoration: none;
	list-style-type: none;
	width: 60%;
	font-weight: bold;
	text-align: center;
	justify-content:space-between;
	align-content:space-around;
}
.bloc_icones{
	width: 60%;
	display: flex;
	flex-direction:row;
	justify-content:space-between;
	align-content:space-around;
	margin-top: 15%;
	margin-left: 19%;
}

.icone_particuliers,.icone_entreprises,.icone_associations,.icone_collectivites,.icone_territoires{
	width: 60%;
}

.bloc_presentation{
	margin-top: 5%;
	margin-left: 3%;
	margin-right:3%;
	display: flex;
	flex-direction:row;
	width: 100%;
	justify-content:space-between;
}

.map{
	display: flex;
	width: 45%;
	flex-direction: row;
	justify-content: space-between;
	border: 1px solid #CCCCC5;
}

.carte_ardeche{
	display: flex;
	width: 60%;
	margin:auto;
}

.carte_france{
	width: 25%;
	float:right;
	display: flex;
	border-left: 1px solid #CCCCC5;
	border-bottom: 1px solid #CCCCC5;
	margin-bottom: auto;
  margin-left: auto;
  margin-top: 2%;
  margin-right: 0%;
}

.introduction{
  width: 48%;
  margin-right: 3%;
  margin-bottom: 5%;
  padding: 2%;
}

.logos_fse{
	display:flex;
	flex-direction:row;
	justify-content:space-around;
}

.img_fse{
	width:25%;
	height:40%;
	display:block;
	/*margin:auto;
	margin-top: 5%;*/
}

.img_europe{
	width:40%;
	
}

/*PARTCULIERS*/
/*#bloc_particuliers, #bloc_entreprises, #bloc_associations, #bloc_collectivites{
	margin-top: 5%;
}*/

.bloc_img_particuliers, .bloc_img_entreprises, .bloc_img_associations, .bloc_img_collectivites; .bloc_img_territoire{
	padding-top: 2%;
}

.bloc_img_particuliers{
	 width: 100%;
	 display: flex;
	 flex-direction: row;
	 margin-top: 4%;
	 justify-content: space-between;
	 background-color: #f3f3f3;
}

.bloc_img_gauche{
	width: 35%;
	margin-left: 2%;
}

.bloc_gauche {
  margin-right: 2%;
  width: 42%;
  padding: 2%;
  height: 50%;
  margin-left: 3%;
}

.offres_particuliers{
	width:40%;
}

.offres-particuliers h4{
	margin-top: 0;
	text-align: center;
}

.liste_offres{
	margin-top: 5%;
}

.img_offre{
	margin-top: 5%;
	width: 25%;
	margin: auto;
	margin-left: 25%;
}

.consult_offre{
	width: 70%;
}

.offres{
	color:black;
	width:400px;
	padding-top: 1%;
}

.bourses{
	color:red;
	width:400px;
}

.local_pro{
	color:black;
	width:400px;
}

.bloc_creation{
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	height: 90%;
	background-color: #f3f3f3;
}	

.reunion{
	margin:auto;
	display: block;
	width: 40%;
}

.texte_creation {
 	width: 40%;
	margin-right: 3%;
 	padding-left:2%;
	border-top: 1px solid #CCCCC5;
}

/*ENTREPRISES*/
.bloc_img_entreprises{
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	/*margin-top: 4%;*/
} 


.texte_entreprise{
	width: 50%;
	height: 50%;
	margin-left: 3%;
}


.img_entreprise{
	margin-top:4%;
	margin-right:3%;
}

.img_paysage{
 	width: 524px;
	height: 386px;
	/*margin-right: 3%;*/
	margin-top: 5%;
}	

.img_cv{

}

/*ASSOCIATIONS*/
.bloc_img_associations{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-right: 8%;
  height: 90%;
 	margin-top: 4%;
 	background-color: #f3f3f3;
}

.texte_associations{
  width: 45%;
  padding: 2%;
  height: 89%;
  margin-right: 3%;
 }

.img_associations{
	margin: auto;
}

.img_asso{
	width: 70%;
	margin: auto;
	display: block;
}

/*COLLECTIVITES*/

.bloc_img_collectivites{
  width: 100%;
  display: flex;
  justify-content:space-between;
  /*margin-top:4%;*/
 }

.img_collectivites{
	margin: auto;
	width:;
}

.texte_collectivite {
  margin-right: 5%;
  margin-left: 3%;
  width: 42%;
  padding: 2%;
}

/*TERRITOIRES ET ACTEURS*/
.bloc_img_territoire{
	margin-top: 4%;
	width: 100%;
	display: flex;
	flex-direction:row;
	justify-content:space-between;
	background-color: #f3f3f3;
}

.bloc_img_territoire img{
	margin-left: 6%;
	width:70%;
	/*margin: auto;*/
	margin-top: 4%;
	margin-bottom: 4%;
}

.bloc_texte_territoire {
	  margin-right: 3%;
	  width: 42%;
	  padding: 2%;
	  height: 50%;
}

/*BANDEAU LOGOS FINANCEURS*/

.bloc_titre_financeurs{
	width: 100%;
	background-color:#9A9899;
}

.titre_financeurs{
	font-size: 0.8em;
	color:white;
	margin-left: 3%;
	margin-bottom: 0;
	margin-top: 0;
	padding-top: 1%;
	font-weight: bold;
}
/*LOGOS DE FINANCEURS*/


.bloc_financeurs{
	background-color:#9A9899;
	width: 100%;
	display:flex;
	justify-content:space-between;
	padding-bottom: 2%;
}
	
.bloc_logo_financeurs{
	width : 100%;
	margin-left:3%;
	display:flex;
	justify-content:space-around;
	justify-content:space-between;
	align-items:flex-start;
}

.logo_financeurs{
	width: 10%;
	margin-top: 4%;
	margin-right: 3%;
	margin-bottom: 3%;
}

.lien_financeurs{
	width:15%;
}

.lien_financeurs img{
	width: 60%;
}

.lien_financeurs img.logo_region{
	width: 80%;
}

.lien_financeurs img.logo_capca{
	width: 70%;
}

.lien_financeurs img.logo_lamastre{
	width: 50%;
	height:80%;
}

.lien_financeurs img.logo_valeyrieux{
	width: 78%;
	height: 60%;
}

/*FOOTER*/
footer{
	justify-content:space-around;
	justify-content:space-between;
	display:flex;
	flex-direction:row;
	background-color: #706E6F;
	width: 100%;
	height:30%;
	font-size: 14px;
	color:white;
	font-size: 12px;
	padding-top: 1%;
}

.intitule_coordonnees{
	text-decoration: underline;
}

/*MENU DU FOOTER*/

.nav{
	width:94%;
	padding-bottom: 2%;
	display:flex;
	flex-direction:row;
  	margin-left: 3%;
 	margin-right: 3%;
	margin-bottom: 1%;
}

.menu {
	width: 45%;
	display:flex;
	flex-direction:column;
	line-height: 1.5em;	
 }

 .menu a,  .coordonnees a{
 	color:white;
 		
 }

 .menu a:hover, .coordonnees a:hover{
  	color:#E44772;
 }
.img_fb{
	margin-right: 5%;
	margin-top: 2%;
}
.coordonnees{
  width: 45%;
  line-height: 0.8em;
}

/*TEXTES LIENS FOOTER*/
.texte_infos_legales{
	margin-top: 10%;
	margin-left: 3%;
	line-height: 0.5em;
	margin-right: 3%;
}

.logos_partenaire{
	display: flex;
	flex-direction:row;
	align-items:flex-start;
	margin-right:5%;
}

.pnr{
	display:flex;
	width: 30%;
	height: 50%;
}
.pam{
	display:flex;
	width: 18%;
	height: 30%;
}
.cddra{
	display:flex;
	width: 20%;
}


