@font-face {
	font-family: 'Roboto-Italic';
	src: url('../fonts/Roboto-Italic/Roboto-Italic.eot');
	src: local('☺'), url('../fonts/Roboto-Italic/Roboto-Italic.woff') format('woff'), url('../fonts/Roboto-Italic/Roboto-Italic.ttf') format('truetype'), url('../fonts/Roboto-Italic/gRoboto-Italic.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto-Condensed';
	src: url('../fonts/Roboto-Condensed/Roboto-Condensed.eot');
	src: local('☺'), url('../fonts/Roboto-Condensed/Roboto-Condensed.woff') format('woff'), url('../fonts/Roboto-Condensed/Roboto-Condensed.ttf') format('truetype'), url('../fonts/Roboto-Condensed/Roboto-Condensed.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}


html{
	width: 100%;
}

body{
	width: 100%;
	height: 100%;
 	margin:0;
	padding: 0;
 	font-family: 'Roboto-Condensed';
 	overflow-x: hidden;
  	/*background-color:F7F4F1;*/
	background-color:#FEFDFD;
	line-height: 1.5em;
}

h2{
	color:#25AFBA;
}

.bloc_logo{

	/*display:block;
*/
}

.logo_site{
	width: 20%;
	margin-left: 2%;
	margin-top: 1%;
	vertical-align: text-top;
}

/*HEADER*/


.bloc_nav{
	text-align: center;
	width: 100%;
	height: 20%;
  	text-align: center;
  	margin-left: 35%;
  	margin-top: -12%;
	padding: 1%;

  }

.bloc_nav  ul{
	border:1px solid #DBDBDB;
  	/*background-color: #DBDBDB;*/
  	padding: 0;
  	
}

.bloc_nav  ul li{
	display:block;
	width: 90%;
	padding-top: 2%;

}
	
a{
	text-decoration: none;
	list-style-type: none;
	width: 60%;
	text-align: center;
	/*display:flex;*/
	justify-content:space-between;
	align-content:space-around;
	
}
a:hover { 
   color:#E44772;
}

.menu {
  width: 60%;
	display:flex;
	justify-content:space-between;
	align-content:space-around;
	border:1 px black solid;
}


.bloc_accroche {
	margin-left: 30%;
  	margin-top: -5%;
  	color:#25AFBA;
  	font-family: 'Roboto-Italic';
}

.titre_form{
	text-align: center;
	font-weight: 1%;
}

.formulaire_contact{
	color:white;
	margin: 0 auto;
  width: 70%;
  height: 50%;
    /* Pour voir les limites du formulaire */
  
  padding: 1em;
  border: 1px solid #CCC;
  background-color: #6D6B6C;
  border-radius: 0.5em;
  margin-top: 10%;
  margin-bottom: 10%;
  }

.champ_form{
	line-height: 3.5em;
	margin-left:30%;
}

.button{
	text-align: center;
}

/*ICONES PUBLICS CIBLES*/

.bloc_icones a{
	text-decoration: none;
	list-style-type: none;
	width: 60%;
	text-align: center;
	justify-content:space-between;
	align-content:space-around;
}
.bloc_icones{
	width: 60%;
	display: flex;
	flex-direction:row;
	justify-content:space-between;
	align-content:space-around;
	margin-top: 15%;
	margin-left: 19%;
	
 }

/* .bloc_icone_particuliers {
 	display:flex;
 	flex-direction:column;
 	align-items: flex-start;
 }*/



/*MAP AND INTRO*/
/*.bloc_presentation{
	width:95%;
	margin-left: 3%;
	border: 1px black;
	display:flex;
	margin-top: 12%;
	background-color: blue;
}*/
.icone_particuliers{
	display:flex;
	float:left;
	width: 60%;
}
.icone_entreprises{
	width: 60%;
}
.icone_associations{
	width: 50%;
}
.icone_collectivites{
	width: 60%;
}

.icone_territoire{
	width: 60%;
}

.bloc_presentation{
	margin-top: 5%;
}

.map{
	margin-left: 2%;
	margin-top: 5%;
}

/*#map_canvas{
	width: 50%; 
	height: 50%;
	border-color: red;
}*/

.introduction{
	width: 500px;
 /* height: 430px;*/
  margin-right: 8%;
  margin-bottom: 5%;
  float: right;
  margin-top: 5%;
  padding: 1%;
  border:1px solid #C5C2FF;
}

.texte_presentation{
	text-align: center;
}

/*PARTCULIERS*/
/*#bloc_particuliers, #bloc_entreprises, #bloc_associations, #bloc_collectivites{
	margin-top: 5%;
}*/


.bloc_img_particuliers{
	 width: 100%;
	 display: flex;
	 flex-direction: row;
	 justify-content: space-around;
	 justify-content: space-between;
	 margin-left: 2%;
	 margin-right:2%;
	 height: 70%;
	 align-items:flex-start;
}

.bloc_img_gauche{
	width: 35%;
	margin-left: 2%;
}

.bloc_gauche {
  margin-right: 2%;
  width: 45%;
  padding: 1%;
  height: 50%;
  border: 1px solid #C5C2FF;
}


.offres_particuliers{
	border:1px solid #25AFBA;
	height: 50%;
	width:25%;
	margin-top: 2%;
	margin-left:10%;
	margin-right: 15%;
	margin-bottom: 2%;
	padding: 1%;

}

.texte_offres{
	margin-top: 0;
	padding: 20%;
	margin-right: auto;
	display:block;
}
.texte_offres h3{
	margin-top: 0;
}

.img_loupe{
	display: block;
  margin-left: auto;
  margin-right: 45%;
  margin-top: 0;
  width:20%;
}

.bloc_creation{
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	height: 90%;
	margin-top: 2%;

}	


.reunion{
	margin-right: -10%;
	display: block;
	padding: 5% 2% 2%;
	width: 40%;
	height: 94%
 }



.texte_creation {
  width: 40%;
  margin-right: 3%;
  float: right;
  border: 1px solid #C5C2FF;
}
/*ENTREPRISES*/
.bloc_img_entreprises{
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	height: 90%;
} 

.img_entreprise{
	margin-right: -10%;
  display: block;
  padding: 6% 2% 2%;
  width: 40%;
  height: 93%;
}

.texte_entreprise{
	margin-left: 9%;
	margin-right: 3%;
	width: 50%;
	padding: 1%;
	height: 92%;
	border:1px solid #C5C2FF;
}
	

/*ASSOCIATIONS*/
.bloc_img_associations{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 2%;
  height: 90%;
}

.texte_associations{
  margin-right: 2%;
  width: 45%;
  padding: 1%;
  height: 89%;
  border: 1px solid #C5C2FF;
}



.bloc_droit {
margin-left: 50%;
  margin-right: 3%;
  width: 50%;
  padding: 1%;
}

.bloc_img_droit{
	
	border: 1px solid black;
}

.lien_retour_top{
	float:right;
}

/*COLLECTIVITES*/

.bloc_img_collectivites{
	margin-top:2%;
  	margin-left: 2%;
  	margin-right: 0;
	width: 100%;
  	display: flex;
  	/*flex-direction: row;*/
  	/*justify-content: space-between;*/
  	height: 50%;
  }

.bloc_img_gauche{
	/*margin-left: 0;*/
	border: 1px solid black;
}


.bloc_texte_collectivite {
  margin-left: 20%;
  margin-right: 3%;
  width: 50%;
  padding: 1%;
  border: 1px solid #C5C2FF;
 
 }




/*TERRITOIRES ET ACTEURS*/
.bloc_img_territoire{
	margin-top:2%;
	margin-left: 2%;
	width: 100%;
	height: 90%;
	display: flex;
	flex-direction:row;
	justify-content:space-between;
}

.bloc_carte_territoires{
	margin-right: 10%;
}
/*LOGOS DE FINANCEURS*/


.bloc_financeurs{
	text-align: center;
	margin-bottom: 3%;
}

.logo_financeurs{
	width: 10%;
	margin:auto;
}


/*FOOTER*/
footer{
	display:flex;
	flex-direction:row;
	justify-content:space-around;
	justify-content:space-between;
	background-color: grey;
	width: 100%;
	font-size: 11px;
	text-align: center;
}

.infos_legales{
	margin-top: 2%;
	margin-left: 2%;
	text-decoration: underline;
	width: 20%;
	
}

.plan_site{
	margin-top: 2%;
	margin-left: -5%;
	width: 20%;
	text-decoration: underline;
	
}

.coordonnees{
	margin-left: -5%;
	margin-right: 3%;
	margin-top: 2%;
	line-height: 1%;
	width: 25%;
	
}
.intitule_coordonnees{
	text-decoration: underline;

}


/*QUI SOMMES-NOUS ?*/

.presentation_asso{
	margin-top:15%;
	margin-left: 2%;
	width:50%;
	background-color: white;
}

.texte_asso{

}


/*EQUIPE*/
.equipe{
	width:80%;
	margin-top:15%;
	margin-left:2%;
	background-color: white;

}
/*PAGE LIEUX ACCUEIL*/
.lieux{
	width:80%;
	display:flex;
	flex-direction:row;
	margin-top:20%;
	margin-left: 2%;
	background-color: white;
}

.stagreve{
	display:flex;
	width: 40%;
	border: 1px solid black;
}

.stmartin{
	width: 40 %;
}

.cheylard{
	width: 40 %;
}

.lamastre{
	width: 40 %;
}
