body{
	width:100%;
	margin:0;
}

.bloc_titre{
	display:block;
	background-color:red;
}
.logo_site{
	width:20%;
}


.bloc_accroche{
	margin-left: 30%;
    width: 60%;
    margin-top: -15%;

}


/*.menu{
	width:80%;
}
*/

.nav_accueil{
	display:block;
}

nav li{
	list-style-type: none;
	display: inline-block;
}


ul .menu{
	width:80%;
}
.entree_public{
	display:flex;
	width: 100%;
	justify-content:space-around;
}